# === C++ компіляція та збірка ===
*.exe
*.out
*.app
*.o
*.obj

# === Налаштування середовища розробки (IDE) ===
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.filters

# === Системні файли, які не потрібні в коді ===
Thumbs.db
Desktop.ini
.DS_Store